extends layout

block content
  .container
    h1 Submit your own server
    p.lead Amazing.
    if(error == 1)
      p You already submitted a server!
    .form-style-5
     form(role='form', action="/addServer",method="post")
        fieldset
          legend
            span.number 1
            |  Server information
          input(type='text', name='serverName', placeholder='My Minecraft Server')
          input(type='text', name='serverIp', placeholder='127.0.0.1')
          input(type='text', name='serverPort', placeholder='25565')
          textarea(name='serverDesc', placeholder='Tell us about your server', style='resize:none;')
          input(type='url', name='serverImg', placeholder='http://imgur.com/')
          label(for='serverType') Server Type:
          select#job(name='field4')
              option(value='Factions') Factions
              option(value='Survival') Survival
              option(value='Skyblock') Skyblock
              option(value='Minigames') Minigames
              option(value='Combined gamemodes') Combined gamemodes
              option(value='Other') Other
        fieldset
          legend
            span.number 2
            |  Votifier information
          textarea(name='votifierKey', placeholder='Votifier key', style="resize:none;")
          input(type='text', name='votifierPort', placeholder='Votifier port: 8123')
        input(type='submit', value='Apply')
