extends layout

block content
  .container-fluid
     .row
      .center-block(align="center") 
       img(src="https://storage.googleapis.com/support-kms-prod/SNP_501E7C3D5CA3CA07C641E6BAFB8A53C794CF_2922339_en_v2")
      if serverlist
        each srv in serverlist
         .center-block(onclick="javascript:location.href='server/?id=#{srv.id}'", style='width:45%;background-color:#ccc;padding:5px;height:80px;margin-top:5px;') 
            .votes(style="float:left;")
             strong Votes: #{srv.votes}
            .left-panel(style="float:left;text-align:center;margin-top: 8px;margin-left: 15px;") 
              strong #{srv.server_name}
              br 
              span IP: #{srv.server_ip}:#{srv.server_port}
              br
              button Vote
             .right-panel(style="float:right;")
              img(style="margin-top:5px;border-radius: 4px;", src="#{srv.server_img}", alt="TorchCraft 1.8/1.9",class="img-responsive hidden-xs")
