doctype html
html
  head
    title=page
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
   if (error && error.length > 0)
   br
   h4.error-msg= error
   br
   nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') TOPMCServer
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li(class=page=='home'?'active':undefined)
              a(href='/') Home
            li(class=page=='servers'?'active':undefined)
              a(href='servers') Servers 
            if (!user)
             li(class=page=='login'?'active':undefined)
              a(href="/login") Login
             li(class=page=='register'?'active':undefined)
              a(href="/register") Register
            if (user)
             li(class=page=='addServer'?'active':undefined)
              a(href="/addServer") Add Server
             li(class=page=='logout'?'active':undefined)
              a(href="/logout") Logout
  block content

  script(src='http://code.jquery.com/jquery.js')
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
  script(src='https://www.google.com/recaptcha/api.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js')
