extends layout

block content
  .container
    h1 Register Page
    p.lead Register to our website, given the ability to advertise your own server!
    p #{error}
    br
    form(role='form', action="/register",method="post", style='max-width: 300px;')
    
      .form-group
          input.form-control(type='text', name="username", placeholder='Enter Username')
          input.form-control(type='password', name="password", placeholder='Password')
          input.form-control(type='email', name="email", placeholder='Email')
          div(class="g-recaptcha" data-sitekey="6LdlFx8TAAAAAEYQlY2yPSsFLSxJAnGO5lkk_M_u")

      button.btn.btn-default(type='submit') Submit
      &nbsp;
      a(href='/')
        button.btn.btn-primary(type="button") Cancel
