extends layout

block content
  .container
    h1 Viewing server page: #{id}
    h5 Retrieving some test information for development (!)
    if(serverInfo)
      h4 Server Name: #{serverInfo.server_name}
      h4 Server IP: #{serverInfo.server_ip}
      h4 Server Port: #{serverInfo.server_port}
      h4 Server Desc: #{serverInfo.server_desc}
      h4 Server Image: #{serverInfo.server_img}

    
